.FrontHeader {
  background-image: url(/static/cosmeticozonegirl.png);
  background-position: center center;
  background-size: cover;
  height: 720px;
  filter: grayscale(20%);
  opacity: 1;
  @media screen and (max-width: 1376px) {
    height: 450px;
  }
  @media screen and (max-width: 1024px) {
    height: 465px;
  }
  @media screen and (max-width: 480px) {
    //TODO: Mobile verion
    background-image: url(/static/facetherapy.png);
  }

}

.header-content{
  line-height: 1.9em;
  font-weight: 500;
  font-family: Lavo;
  text-transform: uppercase;
  padding:300px;
  @media screen and (max-width: 1024px) {
  padding: 150px;}
  @media screen and (max-width: 375px) {
    padding: 40px;
    font-size: 10px;
  }
  @media screen and (max-width: 414px) {
    padding: 40px;
    font-size: 10px;
  }
  .header-subhead{
    font-size: 50px;
    color: green;

  }
  .AppointmentBtn{
    background: #77bd63;
    border-width: 20px;
    border-color: #77bd63;
    border-radius: 50px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 20px;
  }

}
.header-content h1{
  color: green;
  text-align: left;
  font-weight:300;
  font-size: 28px;
  line-height: 1.5em;
  font-family: "Lavo";
  padding-bottom: 10px;
  display: block;
}

