.highlight-title{
  font-family: "Lavo";
  font-size: 40px;
  color:  #685c4d;
  margin: 50px 0 46px;
  line-height: normal;
  display:block;
  text-transform: uppercase;
}

.highlight-text{
  font-size: 20px;
  color: #777777;
  font-family: "Lao MN";
  line-height: 35px;
  display: inline-flex;
}
.meetTheDr{
  background-color: #f2f7ed;
  //#f2eae5
}
img.doctor{
  padding-top:20px;
  padding-bottom: 30px;
  float:none;
  margin: auto;
  display: block; width: 80%;
  -webkit-filter: grayscale(1) drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: grayscale(1)drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

.meetTheDrbtn{
  font-family: Lavo;
  padding: 18px 51px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: normal;
  background: #726659;
  color: white;
  display: inline-flex;
  text-align: center;
  letter-spacing: 0.02rem;
  margin: 30px;

}
.img-rounded {
  border-radius: 6px;
  float: right;
}