.NavBar {
  font-size: 22px;
  font-family: Roboto;
  text-align: center;
  background-color: transparent;
  .logo img {
    height: auto;
    width: 200px;
    @media screen and (max-width: 1376px) {
      width: 190px;
    }
    @media screen and (max-width: 1024px) {
      width: 170px;
    }
  }

  .navbar-collapse{
    .row{
      display: inline-flex;
    }
    text-align: center;
  }

}

.navbar-brand {
  font-family: Roboto;
  font-size: 22px;
}

.thumbnail {
  vertical-align: middle;
}