.offeringServices {
  margin-top:50px;
}

.offeringService{
  margin-top: 20px;
  margin-bottom: 20px;
}

h2{
  text-align: center;
}

.thumbnail>img {
  display: block;
  max-width: 100%;
  height: 230px;
}

.offeringImage{
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  height: 230px;
}
.offeringLink{
  padding-top: 10px;
  text-align: right;
  a{
    color: #0074D9;
  }
}
.offeringDescription{
  height: 100px;
  overflow: auto;
}